body {
    background-color: #9341ac;
}
h1 {
    text-align: center;
    font-size: 45px;
}
#taskInput {
    width: 39%;
    margin-left: 23px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    border: none;
}
#addButton {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
li {
    align-items: center;
    width: 39%;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 16px;
    background-color: #c96161;
    border-radius: 10px;
}
.borrar {
    float: right;
    margin-left: 14px;
    padding: 3px;
    cursor: pointer;
    font-size: 21px;
    background-color: #bc5959;
    box-shadow: none;
    border-radius: 5px;
    width: 56px;
    height: 30px;
}
.borrar:hover {
    background-color: #e23535;
}
