* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #412257;
}
.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(120, 64, 64, 0.371);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.container h1 {
    font-size: 36px;
    text-align: center;
}
.container .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #fff;
}
.input-box img {
    position: absolute;
    right: 39%;
    top: 52%;
    transform: translateY(-55%);
    cursor: pointer;
}
.input-box .register-show {
    top: 58.2%;
}
.input-box .user-login {
    top: 39.4%;
    cursor: default;
}
.input-box .user-register {
    top: 45.8%;
    cursor: default;
}
.container .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.container .alert {
    text-align: center;
    font-size: 18px;
    margin: 5px;
}
.container .link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.link p a, .active-session a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.link p a:hover, .active-session a:hover {
    text-decoration: underline;
}
.container .active-session {
    position: absolute;
    transform: translateX(43%);
}

@media only screen and (max-width: 600px) {
    .input-box img {
        right: 20%;
    }
    .input-box .register-show {
        right: 20%;
        top: 59.6%;
    }
}
